.tittle-intranet{
  font-family: Titillium;
  margin-top: 30px;
  margin-left: 10px;
  font-weight: bold;
}

.evento{
  color: #A1A1A4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 18px;
  background: #ffff;
}