<div class= "text-center">

  <h1><p class="font-italic">
  Proyectos
</p></h1>

</div>


    <div>
        <img src="../../../assets/img/proyecto.png"   style="width: 100px; height: 100px; margin-left: 10%">
        <div class="boton1">

            <a [routerLink]="'/dashboard/proyectos/proyecto/crear-proyecto/registar-proyecto'"
            class=" btn btn-outline-primary" style="width: 180px">Registrar</a>

            <!--<button type="button" class="btn btn-outline-primary">Crear</button>--></div>

            <div><img src="../../../assets/img/consultar.png"style="width: 100px; height: 100px; margin-left: 45%;">
              <div class="boton2">
               <!--<button type="button" class="btn btn-outline-primary">Consultar</button>-->

               <a [routerLink]="'/dashboard/proyectos/proyecto/consultar-proyecto/consultarproyecto'"
               class="btn btn-outline-primary" style="width: 180px">Consultar</a>


              </div>
      </div>

      <div><img src="../../../assets/img/editar.png" style="width: 100px; height: 100px; margin-left: 80%">
      <div class="boton3">
          <a [routerLink]="'/dashboard/proyectos/proyecto/crear-proyecto/actualizar-proyecto'"
          class=" btn btn-outline-primary" style="width: 180px">Actualizar</a>
        <!--<button type="button" class="btn btn-outline-primary">actualizar</button>-->
      </div>
      </div>


</div>




