<div class="x_panel">
	<div class="x_title">
		<h2>Control de Actividades </h2>
		<button class="btn color-1 float-right" type="button" [routerLink]="['/dashboard/intranet/controldeactividades/historial']">
			Historial
		</button>
		<div class="clearfix"></div>
	</div>
	<div class="x_content row">
		<div class="col-12">
			<app-todayactivitys></app-todayactivitys>
			<app-todayactivitys></app-todayactivitys>
			<app-todayactivitys></app-todayactivitys>
			<app-todayactivitys></app-todayactivitys>
			<app-todayactivitys></app-todayactivitys>			
		</div>
	</div>
</div>