<div class= "text-center">
  <h3 class="arial">
  Asignaciones del Recurso
</h3>
</div>

<form (ngSubmit)="onSubmit()">

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputNombre">Proyectos</label>
    <select (change)="obtener()"   class="form-control" id="sel_id_proyecto" name="proyecto" matInput #proyecto [(ngModel)]="consultarasignacion.id_proyecto">
      <option value="null">Selecciona...</option>  
      <option *ngFor="let idproyecto of id_proyecto" value="{{ idproyecto.id_proyecto }}">{{ idproyecto.nombre | titlecase }}</option>                         
      
      </select>
  
      
  </div>
  <div class="form-group col-md-2">
      <label for="inputNombre4">Cliente</label>
  
      <p>{{cliente}}</p>
    </div>
    <div class="form-group col-md-2">
        <label for="inputAddress">Fecha Inicio</label>
       
        <p>{{fecha}}</p>
      </div>
      <div class="form-group col-md-2">
          <label for="inputAddress2">Fecha Fin</label>
          
          <p>{{ffin}}</p>
        </div>
      <!--consultar actividades-->

</div>
<div class="form-group col-md-4">
  <label for="inputNombre4">Sprints</label>
 <!-- <input type="sprint" class="form-control" id="inputsprint4" placeholder="sprint">
 <div(change)="obtener(id_actividad)"  (change)="obtener(id_actividad)"  *ngIf="id_periodo == null">Cargando...</div>-->
  <select (change)="cobtener()" class="form-control" id="sel_id_periodo" name="periodo" matInput #idperiodo [(ngModel)]="consultarasignacion.id_periodo">
    <option value="null">Selecciona...</option>  
    <option *ngFor="let idperiodo of id_periodo" value="{{ idperiodo.id_periodo }}">{{ idperiodo.sprint | titlecase }}</option>                         
    
    </select>
</div>
<div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputactividades4">Actividad</label>
      <!--input type="nombre" (change)="cobtenera(id_actividad)"  class="form-control" id="inputproyecto4" placeholder="actividad"-->
      <select (change)="actividadrealizada()" (change)="cobtenera()" class="form-control" id="sel_id_actividad" name="id_actividad" matInput #idactividad [(ngModel)]="consultarasignacion.id_actividad">
        <option value="null">Selecciona...</option>   
        <option *ngFor="let idactividad of id_actividad" value="{{ idactividad.id_actividad }}">{{ idactividad.nombre | titlecase }}</option>                         
        
        </select>
       
    </div>
    <div class="form-group col-md-4">
        <label for="inputactividades4">Consultor</label>
        
        <select    class="form-control" id="sel_id_datpers" name="id_datpers" matInput #datpers [(ngModel)]="consultarasignacion.id_datpers">
          <option value="null">Selecciona...</option> 
          <option *ngFor="let id_datpers of id_datpers" value="{{ id_datpers.id_datpers }}">{{ id_datpers.nombres | titlecase }}</option>                         
         
          </select>
      </div>
    
    </div>


    <div class="form-group col-md-2">

          <input type="submit" class="btn btn-primary" value= "consultar" data-toggle="modal" data-target="#myModal"/>
     

    </div>


    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
    
       
        <div class="modal-content">
          <div class="modal-header" value= "consultar">
            <!--button type="button" class="close" data-dismiss="modal">&times;</button-->
            <h4 class="modal-title">Asignaciones</h4>
          </div>
          <div>
          <div class="modal-content">
            
            <fusioncharts
          [width]="width"
          [height]="height"
          [type]="type"
          [dataFormat]="dataFormat"
          [dataSource]="dataSource"
        >
        </fusioncharts>
          </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>
  
    

  
  </form>




