<!DOCTYPE html>
<html>

  <body>
    <div  class="navbar navbar-light" >
      <span class="navbar-brand mb-0 h1" style="color: RGB(0, 101, 149)"><h2><a [routerLink]="'/dashboard/inventario/asignacion'" ><i class="fas fa-arrow-alt-circle-left" style="color: RGB(0, 101, 149);"></i> </a>  TIPO DE ASIGNACION PERSONAL<hr></h2></span>
    </div>
    
    <div class="row">
      <div class="mobi">
          <div class="mobimagen">
              <img src="assets/img/mobi.png" alt="">
          </div>
          <div class="mobibuttonr">
                  <a [routerLink]="'/dashboard/inventario/asignacion/personal/mobiliario'" class=" botonmobi btn btn-primary" style="width: 180px">Mobiliario</a>
          </div>
      </div>
  
      
      <div class="compu">
          <div class="compuimagen">
              <img src="assets/img/compu.png"  alt="">
          </div>
          <div class="compubuttonr">
                  <a [routerLink]="'/dashboard/inventario/asignacion/personal/computacion'" class=" botonmobi btn btn-primary" style="width: 180px">Computación</a>
          </div>
      </div>    
    </div>
     
   
  </body>


  </html>