<div class="row">
	<div class="col-12">
		<table class="table table-striped">
			<thead class="color-1">
			    <tr>
			      <th>Nombres</th>
			      <th>C.I</th>
			    </tr>
			</thead>

		  	<tbody>
			    <tr *ngFor="let persona of personal" class="p-tr">
			    	<td [routerLink]="['showpersonal/' + persona.id_user]">{{ persona.nombres }} {{persona.apellidos}}</td>
				    <td [routerLink]="['showpersonal/' + persona.id_user]">{{ persona.dni }} </td>
			    </tr>
		  	</tbody>
		</table>
	</div>
</div>


