
form_main {
    width: 100%;
}
.form_main h4 {
    font-family: roboto;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}
.heading {
    border-bottom: 1px solid #070502;
    padding-bottom: 9px;
    position: relative;
}


.heading span {
    background: #190491 none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 75px;
}   
.form {
    border-radius: 7px;
    padding: 6px;
}
.txt[type="text"] {
    border: 1px solid rgb(24, 38, 170);
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 40%;
}

.margenn {
    font-size:25px; 
    padding-right: 8px;
    margin-left: 20px;
}
.checkbox{
    margin-left: 590px;
    margin-top: 3px;
    font-size: 12px;
   
}


.margeni {
    font-size:25px; 
    padding-right: 10px;
    margin-left: 17px;
}
.margenit {
    font-size:25px; 
    padding-right: 8px;
    margin-left: 23px;
}
.m{
    margin-top: 40px;
}
.m1{
    margin-top: 20px;
}
.form-inline .form-control {
    display: inline-block;
    width: 200px;
    vertical-align: middle;
}
.margn {
    font-size:25px; 
    margin-right: 10px;
   
}
.txt_3[type="text"] {
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.txt2[type="submit"] {
    background: #141b83 none repeat scroll 0 0;
    border: 1px solid #070800;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}
.txt2:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #5793ef;
    transition: all 0.5s ease 0s;
}