.register-solicitud{
    margin-top:2%;
}

.solicitud-fin{
    margin-bottom:5%;
}

.tarjeta{
    margin-bottom:10%;
}
.som{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}