<div class= "text-center">

  <h1><p class="arial">
  Actualizar Proyecto
</p></h1>

</div>
<form #actualizoForm="ngForm" (ngSubmit)="onSubmit(actualizoForm)">
    <div class="alert alert-info" *ngIf="status == 'success'">
        El Proyecto se Actualizo Correctamente
        </div>
        <div class="alert alert-danger" *ngIf="status == 'error'">
        el proyecto no se Actualizo por un campo vacio
        </div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="inputNombre4">Proyecto</label>
        
        <select (change)="obtener()"  class="form-control" id="sel_id_proyecto" name="proyecto" matInput #proyecto [(ngModel)]="actualizarproyecto.id_proyecto">
        <option value="null">Selecciona...</option>  
        <option *ngFor="let idproyecto of id_proyecto" value="{{ idproyecto.id_proyecto }}">{{ idproyecto.nombre | titlecase }}</option>                         
        
        </select>
      </div>
      <div class=" col-md-2">
          <label for="inputCliente4">Cliente</label>
          <p>{{Cliente}}</p>
        </div>
      <div class="form-group col-md-2">
          <label for="inputCliente4">Fecha Inicio</label>
          <p>{{fecha}}</p></div>
      <div class="form-group col-md-2">
          <label for="inputCliente">Fecha Fin</label>
          <p>{{ffin}}</p></div>
      
    </div>
      
  <div class="form-row">
      
    <div class="form-group col-md-6">
      <label for="inputNombre4">Nombre</label>
      <input type="text" name="nombre"  #name="ngModel" [(ngModel)]="actualizarproyecto.nombre" class="form-control" placeholder="Nombre" required />
        <span *ngIf="!name.valid && name.touched"> esta vacio el campo</span>
    </div>
    <div class="form-group col-md-6">
      <label for="inputCliente4">Cliente </label>
      <input type="text" name="cliente" #cliente="ngModel" [(ngModel)]="actualizarproyecto.Cliente" class="form-control"  placeholder="Cliente" required />
        <span *ngIf="!cliente.valid && cliente.touched"> esta vacio el campo</span>
    </div>

  </div>
  <div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputAddress">Fecha Inicio</label>
    <input type="date" name="fecha_inicio" #fecha_inicio="ngModel" [(ngModel)]="actualizarproyecto.fecha_inicio" class="form-control" id="date" placeholder="fecha_inicio" required />
      <span *ngIf="!fecha_inicio.valid && fecha_inicio.touched"> esta vacio el campo</span>
  </div>
  <div class="form-group col-md-6">
    <label for="inputAddress2">Fecha Fin</label>
    <input type="date" name="fecha_fin" #fecha_fin="ngModel" [(ngModel)]="actualizarproyecto.fecha_fin" class="form-control" id="date" placeholder="fecha_fin" required/>
    <span *ngIf="!fecha_fin.valid && fecha_fin.touched"> esta vacio el campo</span>
  </div>


  </div>


  <div class="form-group">

  </div>
  <button type="submit" class="btn btn-primary">Actualizar</button>
</form>
