<div class= "text-center">
  <h3 class="arial">
    Actividades del Sprint
</h3>
</div>

<form #registerForm="ngForm" (ngSubmit) = "OnSubmit()">
    <div class="alert alert-info" *ngIf="status == 'success'">
        La Fase se Registro Correctamente
        </div>
        <div class="alert alert-danger" *ngIf="status == 'error'">
            La Fase no se Registro Correctamente
        </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputNombre">Proyectos</label>
          <!--<      input type="nombre" class="form-control" id="inputNombre" placeholder="Nombre">-->
       
      
       
        <div *ngIf="id_proyecto == null">Cargando...</div>
        <select (change)="obtener()" class="form-control" id="sel_id_proyecto" name="proyecto" matInput #proyecto [(ngModel)]="registrarfases.id_proyecto">
          <option value="null">Selecciona...</option>  
          <option *ngFor="let idproyecto of id_proyecto" value="{{ idproyecto.id_proyecto }}">{{ idproyecto.nombre | titlecase }}</option>                         
          
          </select>
        </div>
      
       
          <div class="form-group col-md-2">
            <div class="margenlado">
              <label for="inputAddress">Fecha Inicio</label>
              <p>{{fecha}}</p>
            </div>
            </div>

            <div class="form-group col-md-2">
                <div class="margenlado">
                <label for="inputAddress2">Fecha Fin</label>
                
                <p>{{ffin}}</p>
              </div>
            </div>
          
      </div>
      <div class= "margen">
      </div>
      <div class="form-row">  
<div class="form-group col-md-4 ">
    <div class= "margen">
  <label for="inputsfases4">Sprints</label>
  <input type="text" name="sprint"  #sprint="ngModel" [(ngModel)]="registrarfases.sprint" class="form-control" id="inputfases4" placeholder="fases" required/>
</div>
              </div>

                  <div class="form-group col-md-4">
                    <label for="inputames4">Mes</label>
                    <input type="text" name="mes"  #mes="ngModel" [(ngModel)]="registrarfases.mes" class="form-control" id="inputmes4" placeholder="mes">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="fecha_inicio">Fecha Inicio</label>
                    <input type="date" name="fecha_inicio" #fecha_inicio="ngModel" [(ngModel)]="registrarfases.fecha_inicio_per" class="form-control" id="date" placeholder="fecha_inicio" required />
                    <span *ngIf="!fecha_inicio.valid && fecha_inicio.touched"> esta vacio el campo</span>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="fecha_fin">Fecha Fin</label>
                    <input type="date" name="fecha_fin" #fecha_fin="ngModel" [(ngModel)]="registrarfases.fecha_fin_per" class="form-control" id="date" placeholder="fecha_fin" required/>
                    <span *ngIf="!fecha_fin.valid && fecha_fin.touched"> esta vacio el campo</span>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputturno">Dias</label>
                    <!--<input type="text" class="form-control" id="TURNO" placeholder="TURNO">-->
                    <input type="text" name="dias"  #dias="ngModel" [(ngModel)]="registrarfases.dias" class="form-control" id="inputactividad4" placeholder="actividad">

                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputfecha_inicio">Hora Inicio</label>
                    <input type="text" name="hora_inicio"  #hora_inicio="ngModel" [(ngModel)]="registrarfases.hora_inicio" class="form-control" id="text" placeholder="horas">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputfecha_inicio">Hora Fin</label>
                    <input type="text" name="hora_fin"  #hora_fin="ngModel" [(ngModel)]="registrarfases.hora_fin" class="form-control" id="text" placeholder="horas">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputturno">Turno</label>
                    <!--<input type="text" class="form-control" id="TURNO" placeholder="TURNO">-->
                    <select class="form-control" matInput #Turno  [(ngModel)]="registrarfases.id_turno" name="Turno" id="sel_turno" >
                      <option disabled selected value="null">Turno</option> 
                      <div *ngIf="id_turno==null">Cargando...</div>
                      <option *ngFor="let idturno of id_turno" value="{{ idturno.id_turno }}">{{ idturno.descripcion }}</option>
                      
                      </select>

                  </div>
                  
      
                  </div>
                  
                  
                    <div class="form-group col-md-2">
                      
        
                      <div class="form-group col-md-2; boton3">
                          
                          <button type="submit" class="btn btn-primary">Registrar</button>
                      </div>
                   
                  
                </div>
                 
              

  </form>
